
Board List
<hr>

<%= link_to("New Board", new_board_path, :class => "btn btn-primary")%>
<%# link_to("new")%>

<hr>
<table class="table">
	<thead>
		<tr><td> id</td>
		<td> name </td>
		<td> action </td>
		</tr>
	</thead>
	
	<tbody>
		

<% @boards.each do |board|%>
<tr>
	<td> <%= board.id %> </td>
	<td> <%= link_to(board.name, board_path(board))%> </td>
	<td> <%= link_to("edit", edit_board_path(board))%> | 
		<%= link_to("delete",board_path(board), :method => :delete )%> </td>
</tr>
<% end %>
</tbody>
</table>